<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best 50</title>
  <style>
    {% include "index.css" %}
  </style>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }

    body {
      position: relative;
    }

    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/canvas.png');
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 1;
    }
  </style>
</head>

<body>
  <div class="background"></div>
  <div class="content"></div>
</body>

</html>
