{% macro app() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <filter id="master_svg0_3_00327" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB" x="0" y="0" width="16" height="16">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feColorMatrix in="SourceAlpha" type="matrix" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
          <feOffset dy="0" dx="0"></feOffset>
          <feGaussianBlur stdDeviation="5"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"></feColorMatrix>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"></feBlend>
        </filter>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg1_3_01363" gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#FFE500" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#FF6A00" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g filter="url(#master_svg0_3_00327)">
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg1_3_01363)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <path d="M8,3C7.44772,3,7,3.447715,7,4L7,6C7,6.55228,6.55228,7,6,7L4,7C3.447715,7,3,7.44772,3,8C3,8.55228,3.447715,9,4,9L6,9C6.55228,9,7,9.44772,7,10L7,12C7,12.55229,7.44772,13,8,13C8.55228,13,9,12.55229,9,12L9,10C9,9.44772,9.44772,9,10,9L12,9C12.55229,9,13,8.55228,13,8C13,7.44772,12.55229,7,12,7L10,7C9.44772,7,9,6.55228,9,6L9,4C9,3.447715,8.55228,3,8,3Z" fill-rule="evenodd" fill="#FFFFFF" fill-opacity="1"></path>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[5px] left-[-10px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">AP+</span>
  </div>
{% endmacro %}

{% macro ap() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg0_3_00325"
          gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#DFD9AA" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#E6CDBC" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g>
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg0_3_00325)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <ellipse cx="8" cy="8" rx="4" ry="4" fill-opacity="0" stroke-opacity="1" stroke="#FFFFFF" fill="none"
            stroke-width="2"></ellipse>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[5px] left-[-8px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">AP</span>
  </div>
{% endmacro %}

{% macro fcp() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <filter id="master_svg0_3_00326" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB" x="0" y="0"
          width="16" height="16">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feColorMatrix in="SourceAlpha" type="matrix" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
          <feOffset dy="0" dx="0"></feOffset>
          <feGaussianBlur stdDeviation="5"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"></feColorMatrix>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"></feBlend>
        </filter>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg1_3_01171" gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#24FF00" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#00FFE5" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g filter="url(#master_svg0_3_00326)">
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg1_3_01171)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <path d="M8,3C7.44772,3,7,3.447715,7,4L7,6C7,6.55228,6.55228,7,6,7L4,7C3.447715,7,3,7.44772,3,8C3,8.55228,3.447715,9,4,9L6,9C6.55228,9,7,9.44772,7,10L7,12C7,12.55229,7.44772,13,8,13C8.55228,13,9,12.55229,9,12L9,10C9,9.44772,9.44772,9,10,9L12,9C12.55229,9,13,8.55228,13,8C13,7.44772,12.55229,7,12,7L10,7C9.44772,7,9,6.55228,9,6L9,4C9,3.447715,8.55228,3,8,3Z" fill-rule="evenodd" fill="#FFFFFF" fill-opacity="1"></path>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-1 left-[-10px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">FC+</span>
  </div>
{% endmacro %}

{% macro fc() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg0_3_00294"
          gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#B1DFAA" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#BCE6E2" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g>
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg0_3_00294)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <ellipse cx="8" cy="8" rx="4" ry="4" fill-opacity="0" stroke-opacity="1" stroke="#FFFFFF" fill="none"
            stroke-width="2"></ellipse>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[3px] left-[-7px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">FC</span>
  </div>
{% endmacro %}

{% macro fsdp() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <filter id="master_svg0_3_01588" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB" x="0" y="0" width="16" height="16">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feColorMatrix in="SourceAlpha" type="matrix" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
          <feOffset dy="0" dx="0"></feOffset>
          <feGaussianBlur stdDeviation="5"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"></feColorMatrix>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"></feBlend>
        </filter>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg1_3_01363" gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#FFE500" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#FF6A00" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g filter="url(#master_svg0_3_01588)">
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg1_3_01363)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <path d="M8,3C7.44772,3,7,3.447715,7,4L7,6C7,6.55228,6.55228,7,6,7L4,7C3.447715,7,3,7.44772,3,8C3,8.55228,3.447715,9,4,9L6,9C6.55228,9,7,9.44772,7,10L7,12C7,12.55229,7.44772,13,8,13C8.55228,13,9,12.55229,9,12L9,10C9,9.44772,9.44772,9,10,9L12,9C12.55229,9,13,8.55228,13,8C13,7.44772,12.55229,7,12,7L10,7C9.44772,7,9,6.55228,9,6L9,4C9,3.447715,8.55228,3,8,3Z" fill-rule="evenodd" fill="#FFFFFF" fill-opacity="1"></path>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[5px] left-[-14px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">FDX+</span>
  </div>
{% endmacro %}

{% macro fsd() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg0_3_00325" gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#DFD9AA" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#E6CDBC" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g>
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg0_3_00325)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <ellipse cx="8" cy="8" rx="4" ry="4" fill-opacity="0" stroke-opacity="1" stroke="#FFFFFF" fill="none" stroke-width="2"></ellipse>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[5px] left-[-10px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">FDX</span>
  </div>
{% endmacro %}

{% macro fsp() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <filter id="master_svg0_3_00326" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB" x="0" y="0"
          width="16" height="16">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feColorMatrix in="SourceAlpha" type="matrix" result="hardAlpha"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
          <feOffset dy="0" dx="0"></feOffset>
          <feGaussianBlur stdDeviation="5"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
          <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"></feColorMatrix>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow"></feBlend>
        </filter>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg1_3_01171"
          gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#24FF00" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#00FFE5" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g filter="url(#master_svg0_3_00326)">
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg1_3_01171)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <path d="M8,3C7.44772,3,7,3.447715,7,4L7,6C7,6.55228,6.55228,7,6,7L4,7C3.447715,7,3,7.44772,3,8C3,8.55228,3.447715,9,4,9L6,9C6.55228,9,7,9.44772,7,10L7,12C7,12.55229,7.44772,13,8,13C8.55228,13,9,12.55229,9,12L9,10C9,9.44772,9.44772,9,10,9L12,9C12.55229,9,13,8.55228,13,8C13,7.44772,12.55229,7,12,7L10,7C9.44772,7,9,6.55228,9,6L9,4C9,3.447715,8.55228,3,8,3Z" fill-rule="evenodd" fill="#FFFFFF" fill-opacity="1"></path>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[6px] left-[-9px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">FS+</span>
  </div>
{% endmacro %}

{% macro fs() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg0_3_00294" gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#B1DFAA" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#BCE6E2" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g>
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg0_3_00294)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <ellipse cx="8" cy="8" rx="4" ry="4" fill-opacity="0" stroke-opacity="1" stroke="#FFFFFF" fill="none" stroke-width="2"></ellipse>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[4px] left-[-6px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">FS</span>
  </div>
{% endmacro %}

{% macro sync() %}
  <div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="16" height="16" viewBox="0 0 16 16">
      <defs>
        <radialGradient cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" id="master_svg0_3_01577" gradientTransform="translate(0 0) rotate(45) scale(22.627416997969522 22.627416997969522)">
          <stop offset="0%" stop-color="#AABDDF" stop-opacity="1"></stop>
          <stop offset="100%" stop-color="#BCCBE6" stop-opacity="1"></stop>
        </radialGradient>
      </defs>
      <g>
        <g>
          <ellipse cx="8" cy="8" rx="8" ry="8" fill="url(#master_svg0_3_01577)" fill-opacity="1"></ellipse>
        </g>
        <g>
          <ellipse cx="8" cy="8" rx="4" ry="4" fill-opacity="0" stroke-opacity="1" stroke="#FFFFFF" fill="none" stroke-width="2"></ellipse>
        </g>
      </g>
    </svg>
    <span class="absolute text-white text-xs top-[5px] left-[-7px] font-sourcehan" style="text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);">SP</span>
  </div>
{% endmacro %}

{% macro null() %}
  <div class="relative">
    <div class="w-4 h-4 rounded-full bg-white"></div>
  </div>
{% endmacro %}
